h1 {
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  margin: 0;
  padding: 50px;
}

.game {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content; /* ensures margin auto works */
}

.card {
  align-items: center;
  font-family: "Press Start 2P", system-ui;
  background: white;
  text-align: center;
  padding: 20px;
  height: 200px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  word-wrap: break-word; /* Prevents text overflow */
}

.card:hover {
  transform: scale(1.05);
}

#submitGuess {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  background-color: white;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

#myGuess {
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  background-color: white;
  border: 2px solid black;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}